<head>
    <title>Task 5</title>
    <meta charset="UTF-8"/>
    <script type="text/javascript">
        window.onload = function(){
            document.getElementById("value").onblur = function () {
                var value = document.getElementById("value").value;
                var newElement = document.createElement("marquee");
                newElement.setAttribute("behavior","alternate");
                newElement.setAttribute("direction","left");
                newElement.innerHTML = value;
                document.body.appendChild(newElement);
            }
        }
    </script>
</head>
<body>
<input id="value"
       type="text"/>

</body>
</html>