/*==================================================
    Base Style
==================================================*/
body {
    margin: 0;
    padding: 10px;
    background: #f4f4f4;
}

/*==================================================
    Authorization Module
==================================================*/
.auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}
    .auth__input, .auth__button {
        position: relative;
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        padding: 0 20px;
        border: none;
        outline: none;
        box-sizing: border-box;
    }
    .auth__input {
        background: #f4f4f4;
        margin-bottom: 10px;
    }
    .auth__checkbox {
        margin-bottom: 20px;
    }
    .auth__button {
        background: deepskyblue;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }